body {
    font-family: Arial, sans-serif;
}

form {
    margin-bottom: 20px;
}

input {
    margin: 5px 0;
}

button {
    background-color: #35a548;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #b9b33d;
}

button:disabled {
    background-color: #000000;
    cursor: not-allowed;
}

h1, h2 {
    color: #333;
}