{% extends 'base.html' %}

{% block title %}
{{ book.title }} - {{ book.author }}
{% endblock %}

{% block body %}
<div class="book-container">
    <h1>{{ book.title }}</h1>
    <img src="{{ s3_endpoint + book.cover_url }}" alt="Обложка книги" style="width: 200px; height:auto;">
    {% if current_user.is_admin %}
        <img src="{{ url_for('generate_qr_code', book_id=book.id) }}" alt="QR Code" style="width: 200px; height:auto;">
    {% endif %}
    <p class="book-author"><strong>Автор: </strong> {{ book.author }}</p>
    {% if not book.available %}
        <p class="book-status" style="color: red;"><strong>Статус: </strong>Недоступна</p>
    {% elif reserved %}
        <p class="book-status" style="color: blue;"><strong>Статус: </strong>Забронирована до {{ reserved.expiration_date }}</p>
    {% else %}
        <form method="POST" action="{{ url_for('reserve_book') }}">
            <input type="hidden" name=book_id value="{{ book.id }}">
            <button type="submit">Забронировать</button>
        </form>
        <p class="book-status" style="color: green;"><strong>Статус: </strong>Доступна для выдачи</p>
    {% endif %}

    {% if current_user.is_admin %}
        <h1>Управление книгой</h1>
            {% if book.available %}
                <form method="POST" action="{{ url_for('issue_book') }}">
                    <input type="hidden" name="id" value="{{ book.id }}" required>
                    {% if reserved %}
                        <input type="hidden" name="user_id" value="{{ reserved.user_id }}">
                    {% else %}
                        <input type="text" name="username" placeholder="Логин пользователя" required>
                    {% endif %}
                    <input type="number" name="due_days" placeholder="Количество дней на чтение" value="7" required>
                    <button type="submit">Выдать книгу</button>
                </form>
            {% else %}
                <form method="POST" action="{{ url_for('return_book') }}">
                    <input type="hidden" name="book_id" value="{{ book.id }}" required>
                    <button type="submit">Вернуть книгу</button>
                </form>
            {% endif %}

        <h1>История использования</h1>
        <ul>
            {% for row in history %}
                <li><a href="{{ url_for('admin_user_info', user_id=row.user_id) }}">{{ row.user.username }}</a>
                    <p><strong>Взял: </strong>{{ row.issue_date }}</p>
                    <p><strong>Вернул: </strong>
                        {% if row.return_date  %}
                            {% if (row.deadline_date - row.return_date).days < 0 %}
                                <font color="red">
                                    {{ row.return_date }}
                                </font>
                            {% else %}
                                {{ row.return_date }}
                            {% endif %}
                        {% else %}
                            ?
                        {% endif %}
                    </p>
                    <p><strong>Дедлайн: </strong>{{ row.deadline_date }}</p>
                    {% if not row.return_date %}
                        <form method="POST" action="{{ url_for('change_deadline') }}">
                            <input type="hidden" name="id" value="{{ row.id }}" required>
                            <input type="date" name="deadline" value="{{ row.deadline_date }}" required>
                            <button type="submit">Изменить дедлайн</button>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}