{% extends 'base.html' %}

{% block title %}
Личный кабинет
{% endblock %}

{% block body %}
<h1>Добро пожаловать, {{ username }}</h1>
{% if fines > 0 %}
    <p>Ваш штраф: {{ fines }} руб.</p>
{% endif %}

<h2>Книги за вами</h2>
{% if user_books|length == 0 %}
    <p>За вами не закреплены никакие книги</p>
{% else %}
    <ul>
        {% for i in range(user_books|length) %}
            <li><a href="{{ url_for('book_info', book_id=user_books[i].book.id) }}">{{ user_books[i].book.title }} - {{ user_books[i].book.author }}</a>
                {% if due_days[i] < 0 %}
                    (Просрочено на <font color="red"><b>{{ -due_days[i] }} дней</b></font>)
                {% else %}
                    (Осталось <b>{{ due_days[i] }} дней до сдачи</b>)</li>
                {% endif %}
        {% endfor %}
    </ul>
{% endif %}
<h2>Забронированные книги</h2>
{% if reserved_books|length == 0 %}
    <p>Вы не бронировали книг</p>
{% else %}
    <ul>
        {% for reserved_book in reserved_books %}
        <li><a href="{{ url_for('book_info', book_id=reserved_book.book.id) }}"><b>{{ reserved_book.book.title }} - {{ reserved_book.author }}</b></a> забронирована до {{ reserved_book.expiration_date}} (Осталось {{ (reserved_book.expiration_date - now_date).days }} дня)
                <form method="POST" action="{{ url_for('cancel_reserve') }}">
                <input type="hidden" name=reservation_id value="{{ reserved_book.id }}">
                <button type="submit">Отменить бронь</button>
            </form>
            </li>
        {% endfor %}
    </ul>
{% endif %}

<script type="application/json" id="flash-messages">
    {{ get_flashed_messages() | tojson }}
</script>
<!--{% with messages = get_flashed_messages() %}-->
<!--    {% if messages %}-->
<!--        <ul>-->
<!--            {% for message in messages %}-->
<!--                <li>{{ message }}</li>-->
<!--            {% endfor %}-->
<!--        </ul>-->
<!--    {% endif %}-->
<!--{% endwith %}-->

{% if is_admin %}
    <a href="{{ url_for('admin') }}"><button>Админ панель</button></a>
{% endif %}

<a href="{{ url_for('books') }}"><button>Книги</button></a>
<a href="{{ url_for('logout') }}"><button>Выйти</button></a>

{% endblock %}